version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: finance-mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    container_name: finance-backend
    ports:
      - '5000:5000'
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: finance-frontend
    ports:
      - '5173:5173'
    depends_on:
      - backend

volumes:
  mongodb_data:
